{% extends 'Base.html' %}

{% block title %} Agregar Persona {% endblock %}

{% block body %}
    <div class="container">
        <div class="row mt-5 vh-100">
            <div class="column-12 w-100">
                <div class="d-flex justify-content-center">
                    <form method="POST" class="w-75">
                        {{ formulario.hidden_tag() }}
    
                        <div class="form-group">
                            {{ formulario.nombre.label() }}
                            {{ formulario.nombre(class='form-control') }}
                            {% for error in formulario.nombre.errors %}
                                <span class="error">*{{ error }}</span>
                            {% endfor %}
                        </div>

                        <div class="form-group">
                            {{ formulario.apellido.label() }}
                            {{ formulario.apellido(class="form-control")}}
                            {% for error in formulario.apellido.errors %}
                                <span class="error">*{{error}}</span>
                            {% endfor %}
                        </div>

                        <div class="form-group">
                            {{ formulario.email.label()}}
                            {{ formulario.email(class="form-control")}}
                            {% for error in formulario.email.errors %}
                                <span class="error">*{{error}}</span>
                            {% endfor %}
                        </div>

                        <div class="w-100 d-flex justify-content-center">
                            {{formulario.submit(class="btn btn-primary")}}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}